API_TOKEN_PEPPER_1=
CORS_ORIGIN_ALLOW_ALL=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_USER=
EMAIL_FROM=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_SERVER=
EMAIL_SSL_CERTFILE=
EMAIL_SSL_KEYFILE=
EMAIL_TIMEOUT=
EMAIL_USERNAME=
# EMAIL_USE_SSL and EMAIL_USE_TLS are mutually exclusive, i.e. they can't both be `true`!
EMAIL_USE_SSL=
EMAIL_USE_TLS=
GRANIAN_BACKPRESSURE=
GRANIAN_WORKERS=
GRAPHQL_ENABLED=
MEDIA_ROOT=
METRICS_ENABLED=
REDIS_CACHE_DATABASE=
REDIS_CACHE_HOST=
REDIS_CACHE_INSECURE_SKIP_TLS_VERIFY=
REDIS_CACHE_PASSWORD=
REDIS_CACHE_SSL=
REDIS_DATABASE=
REDIS_HOST=
REDIS_INSECURE_SKIP_TLS_VERIFY=
REDIS_PASSWORD=
REDIS_SSL=
RELEASE_CHECK_URL=
SECRET_KEY=
SKIP_SUPERUSER=
# SSO Configuration (uncomment and configure as needed)
# OKTA OpenID Connect
# SOCIAL_AUTH_OKTA_OPENIDCONNECT_KEY=
# SOCIAL_AUTH_OKTA_OPENIDCONNECT_SECRET=
# SOCIAL_AUTH_OKTA_OPENIDCONNECT_API_URL=
# Google OAuth2
# SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
# SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=
WEBHOOKS_ENABLED=

# Configuration for OIDC
# REMOTE_AUTH_BACKEND=
# SOCIAL_AUTH_OIDC_OIDC_ENDPOINT=
# SOCIAL_AUTH_OIDC_KEY=
# SOCIAL_AUTH_OIDC_SECRET=
# SOCIAL_AUTH_OIDC_SCOPE=
# LOGOUT_REDIRECT_URL=
# SOCIAL_AUTH_OIDC_JWT_ALGORITHMS=
