# System variables
## Replace XXXX with the output of the command "id -u"
UID=XXXX
## Replace XXXX with the output of the command "id -g"
GID=XXXX

# ElasticSearch password
elasticsearch_password = '###CHANGEME_ELASTICSEARCH_PASSWORD###'
