# System variables
## Replace XXXX with the output of the command "id -u"
UID=XXXX
## Replace XXXX with the output of the command "id -g"
GID=XXXX

# ElasticSearch password
elasticsearch_password = '###CHANGEME_ELASTICSEARCH_PASSWORD###'

# Cortex specific configuration
cortex_docker_job_directory=${PWD}/cortex/cortex-jobs
