[defaults]
inventory            = inventory/hosts.yml
roles_path           = roles
host_key_checking    = True
vault_password_file  = .vault_pass
interpreter_python   = /usr/bin/python3
retry_files_enabled  = False

[privilege_escalation]
become        = True
become_method = sudo
